uvicorn
fastapi
python-multipart
wheel
nbresult
colorama
gunicorn
ipdb
ipykernel
yapf
matplotlib
pygeohash
pytest
seaborn
pandas
scipy
scikit-learn
db-dtypes
pyarrow
tensorflow
dash==2.10.2
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-gif-component==1.1.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.10.2
dash-table==5.0.0
dash-tools==1.11.1
keras
pillow
tqdm
opencv-python
opencv-python-headless
ultralytics
torch